.nav {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 1ch;
}

.nav a:hover {
    cursor: pointer;
}

.cart:hover {
    cursor: pointer;
}


