@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.container {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  color: #444;

}

.page {
  background: lightgrey;
  width: 100%;
  max-width: 900px ;
  margin: 0 auto;

}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


