.productContainer {
  background: pink;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.product {
  background: wheat;
  min-height: 200px;
  padding: 0 1rem;
  position: relative;
}

.price {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}